<div class="users-new-wrapper">
  <div class = "row">
    <div class="container">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">ユーザー情報</h1>
        <div class="row">
          <aside class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= @user.name %></h3>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>


