</br>
</br>

<div class="container aboutus-container">

<H1>このサイトについて</H1>

    <div class= "row">
    	<H3>サイト管理者紹介</H3>
    	<div class="col-md-3">
        <%= image_tag 'akihiro_face.JPG' %>
    	</div>
    	
      <div class="col-md-5">
			名前：Akihiro Senda</br></br>
			<p>鉄鋼メーカー勤務、外資系PCメーカー勤務を経て、フリーのITエンジニアとなる。ながらくSIerとしての業務を多くこなしてきたが、今後はWebエンジニアとしての業務も手掛けることができるようになるべく、奮戦中。</p>
			<p><%= link_to "ご意見、ご要望などのご連絡はこちらからどうぞ。", inquiry_path %></p>
			</div>
    </div>
    
    <hr size="300">
    
    <div class= "row"> 
      <H3>このサイトの使い方（開発途上です）</H3>
      <div class="col-md-8">
        
        <p>このサイトは、主に売り出し中の漫画家や漫画家志望者の向けに、ご自身が権利を持っている漫画素材を公開する場を提供するものです。</p>

<p>使い方は以下のとおりです。</p>


<p><b>【素材投稿までの流れ】</b></p>

<p>１）ユーザー登録をする (登録済みの場合は不要です)</p>
<p>Webサイト上部のナビゲーションバーで「ユーザー登録」ボタンをクリックして開く入力画面に、ニックネームなどの必要な項目を入力して、【登録する】ボタンをクリックしてください。</p>
<p></p>
<p>２）ログインする</p>
<p></p>
<p>　ナビゲーションバーで「ログイン」ボタンをクリックして、開く入力画面に、メールアドレスとパスワードを入力して、【ログインする】ボタンをクリックしてください。</p>
<p></p>
<p>３）漫画素材を投稿する</p>
<p>　ナビゲーションバーの左端にある[Manga Prospects]をクリックすると、サイトのトップページが表示されます。この画面に表示されている【漫画素材投稿】ボタンをクリックすると、入力画面が表示されます。</p>

<p>‐[ファイルを選択]ボタンをクリックすると、ファイル選択用のサブウィンドウが開くので、あなたが公開しようとしている素材のファイルを選択してください。</p>

<p>‐Description欄に、素材に対する説明を入力してください。著作権表示や、あなたのWebサイトのURLを記入していただいてもかまいません。</p>


<p>※ユーザーログインした状態でなければ、【投稿】ボタンが表示されないため、素材投稿することができません。</p>

<p>４）ログアウトする</p>
<p>ナビゲーションバーで「ログアウト」ボタンをクリックする。</p>

<p><b>【素材一覧表示】</b></p>

<p>　ナビゲーションバーの左端にある[Manga Prospects]をクリックすると、サイトのトップページが表示されます。この画面に表示されている【投稿素材一覧】ボタンをクリックすると、投稿された素材が一覧表示されます。</p>

<p><b>【管理者への連絡】</b></p>

<p>　ナビゲーションバーの右端にある[管理者へ連絡]をクリックすると、「サイト管理者へのメッセージ」画面に切り替わります。</p>
<p>　この画面に、ニックネーム、送信するメッセージ、もしよろしければあなたのメールアドレスを入力していただき、【確認】ボタンを押していただくと、入力内容確認画面に切り替わります。
よろしければ【送信】ボタンを押していただくと、サイト管理者 Akihiro Senda にメッセージが送信されます。</p>

<p>※このサイトはいまだ開発中です。今後の改善や機能追加に関するご意見をお待ちしております。</p>

      </div>
    </div>
  
    <hr size="300">  
    
    <div class= "row">
    	<H3>Manga Prospects とは</H3>
      <div class="col-md-8">
<p>私自身は漫画家を目指したことはありません。絵を描くのもヘタクソだし、大勢の人たちの注目を集めるようなストーリーづくりが自分にできるとも思っていません。</p>

<p>だけど、遅咲きともいえる年代の漫画家志望者や売り出し中の漫画家の方を応援したいという気持ちは強くあります。</p>

<p>２０代後半でこれから漫画家としての未来を開こうしていているあなた！</p>

<p>10代後半～20代前半の漫画家志望さんと同じことをしていてはダメです。
初作品で賞を受賞して、とんとん拍子に連載決定!? なんてそんな人はきっとごくまれですよね... ！?
</p>

<p>デビューできたとしても、連載までたどり着けるには、きっと何年もかかるはず。</p>
<p>あなたはもう２0代後半。</p>

<p>遠回りしているヒマはありませんよ。
プロの漫画家になるということは、売れる作品をつくるということのはず。</p>

<p>夢を追うのではなく、現実を直視して売れる作品をつくるにはどうすればいいのか一緒に考えていきたい。</p>

<p>そのための場を提供したい。</p>

<p>そんな思いを込めて、私は Manga-Prorpsectsをつくっています。</p>

<p>漫画業界では全くの素人の私が、漫画家として成功したいあなたをWebの力を借りて応援する。</p>

<p>そのための試行の場がこの Manga-Prorpsects です。</p>
      </div>
    </div> 

    <hr size="300">
    
    <div class= "row"> 
      <H3>利用規約（立案中）</H3>
      <div class="col-md-11">
				<p>Manga-Prospectsでは、まず、漫画素材の共有、すなわち、素材投稿/ダウンロードサービスの提供から応援を始めます。</p>
				
				<p>今のところ、次のような主旨の利用規約を想定しています。</p>
				
				
<p>- 投稿された素材の著作権は　Manga-prospects に帰属しない。素材の投稿者の持つ権利が保持される。 </p>
<p>- 投稿された素材の販売権を、Manga-Prospectsは制限しない。投稿者は正当な権利に基づき、素材を販売することができる。 </p>
<p>- 画像投稿者は、自身が持つ正当な権利※に基づき、素材の投稿・配布・販売を行う。</p>
<p>- 素材のダウンロード者は、各素材に定められた権利※の範囲内で、その素材を利用することができる。</p>
<p></p>
<p>【禁止行為】</p>
<p></p>
下記のような素材の投稿を禁止します。
<p></p>
<p>- 犯罪に関与するもの。</p>
<p>- 法令や公序良俗に反するもの。</p>
<p>- 性器のあからさまな描写、異常な性行為の描写が含まれているもの。</p>
<p>- その他、Manga-prospects の運営目的にそぐわないもの。</p>
<p></p>
<p>※漫画界での素材共有の権利形態については、サイト管理人自身よくわかっていないというのが実態です。</p>
<p>　有識者の皆様からのアドバイスをいただけると幸いです。</p>
<p>※性的な描写が入った素材を禁止するということではありません。</p>
      </div>
		</div>

</div>
