# 以下、「Ruby on Rails 4 でお問い合わせフォーム」対応

<div class="page-header">
 cc
お問いあわせについては、数日以内にManga-Prospects管理者からお返事いたします。
ご意見については、内容を検討し、Manga-Prospectsの改善に向けて努力いたします。
今後とも、Manga-Prospectsをよろしくお願いいたします
</p>